@import './reset.css';

.btn {
  width: 15vw;
  height: 7vw;
  background-color: rgba(5, 9, 5, 0.885);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn:hover {
  font-weight: 900;
  font-size: x-large;
  color: yellow;
}
a:-webkit-any-link {
  text-decoration: none;
  color: white;
}
.characterComplement {
  position: relative;
  bottom: 36.2vw;
  left: 22vw;
  width: 78vw;
  height: 2vw;
  z-index: 1;
}
.characterComplement button {
  width: 25%;
  height: 100%;
  background-color: black;
}
